<!DOCTYPE html>
<html>
    <head>
<style>

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    background-color: brown;
    height:700px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#player-info{
    width: 100%;
    padding: 20px 0px;
    color: white;
    background-color: black;
}

#game-board{
    width: 100%;
    aspect-ratio: 1;
    display:grid;
    grid-template-columns: auto auto auto;
}
.peaces{
    background-color: burlywood;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

#setting{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setting-btn{
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid black;
    background: white;
}

#offline-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.details{
    display:flex;
    gap: 20px;
}

</style>
    </head>
    <body>
        <template id="game">
            <div id="current-player-details">
                
            </div>
            <div id="game-board">
                <div class="peaces" piece-num="1"></div>
                <div class="peaces" piece-num="2"></div>
                <div class="peaces" piece-num="3"></div>
                <div class="peaces" piece-num="4"></div>
                <div class="peaces" piece-num="5"></div>
                <div class="peaces" piece-num="6"></div>
                <div class="peaces" piece-num="7"></div>
                <div class="peaces" piece-num="8"></div>
                <div class="peaces" piece-num="9"></div>
            </div>
        </template>

        <template id="form-for-online">
            <select id="select-mark" name="select-mark">
                <option value="" selected="true" disabled>select your mark</option>
                <option value="X">X</option>
                <option value="O">O</option>
                <option value="T">T</option>
            </select>
            {{user }} vs. <p id="player-2"></p>
            <button id="find-player">Find Player</button>
            <button id="start-btn">Start</button>
        </template>

        <template id="form-for-ofline">
            <div id="offline-form">
                <div id="details" class="details">
                    Player1 
                    <input type="text" name="player1-name"  id="player1-name"/>
                    <select id="player1-mark">
                        <option value="" selected="true" disabled>select your mark</option>
                        <option value="X">X</option>
                        <option value="O">O</option>
                        <option value="T">T</option>
                    </select>
                </div>
                <div id="details" class="details">
                    Player2
                    <input type="text" name="player2-name" id="player2-name"/>
                    <select id="player2-mark">
                        <option value="" selected="true" disabled>select your mark</option>
                        <option value="X">X</option>
                        <option value="O" disabled>O</option>
                        <option value="T">T</option>
                    </select>
                </div>
                <button id="start-btn">Start</button>
            </div>
        </template>
         
        <h2>{{user}}</h2>
        <div id="content">
            <div id="setting">
                <button id="play-online-btn" class="setting-btn">play Online</button>
                <button id="play-offline-btn" class="setting-btn">play-offline</button>                
            </div>
        </div>

        <script>
            
            let play_online_btn      = document.getElementById("play-online-btn")
            let play_offline_btn     = document.getElementById("play-offline-btn")
            let content              = document.getElementById("content")
            let tem_game             = document.getElementById("game")
            let tem_form_for_online  = document.getElementById("form-for-online")
            let tem_form_for_ffline  = document.getElementById("form-for-ofline")

           

            class Game{
                static isFinish = true;
                static player1   = null;
                static player2   = null;
                static boardPieces  = document.getElementsByClassName("peaces");
                static winMoves = [["1","2","3",], ["4","5","6",],["7","8","9"],["1","4","7"],["2","5","8"],["3","6","9"],["1","5","9"],["3","5","7"]]
                static currentPlayer = null
                static start(){
                    this.isFinish = false;
                    let current_player_details = document.getElementById("current-player-details")
                    this.currentPlayer = this.player1;
                    for(let i=0; i<this.boardPieces.length; i++){
                        this.boardPieces[i].onclick = () =>{
                            console.log("clicked")
                            if(this.boardPieces[i].innerHTML === "" && !this.isFinish){
                                this.boardPieces[i].innerHTML = this.currentPlayer.mark;
                                console.log("atrribute    :   " + this.boardPieces[i].getAttribute("piece-num") )
                                this.currentPlayer.moves.push( this.boardPieces[i].getAttribute("piece-num"))
                                console.log(this.currentPlayer.moves)
                                this.isWin()
                                if(this.currentPlayer === this.player1){
                                    this.currentPlayer = this.player2;
                                }else{
                                    this.currentPlayer = this.player1;
                                }
                                
                                current_player_details.innerHTML = "Turn : " + this.currentPlayer.name
                            }

                        }
                    }
                    
                }

                static reset(){
                    //this.isRunning = false;
                    this.player1   = null;
                    this.player2   = null;
                    this.boardPieces  = document.getElementsByClassName("peaces");
                    this.currentPlayer = null
                }

                static isWin(){
                    for(let i in this.winMoves){
                        let win = true;
                        for(let j in this.winMoves[i]){
                            
                            if(!(this.currentPlayer.moves.includes(this.winMoves[i][j]))){
                                win = false;
                                break;
                            }
                            console.log(this.currentPlayer.moves.includes(this.winMoves[i][j]) + "     " + this.winMoves[i][j])
                        }
                        if(win){
                            alert(this.currentPlayer.name);
                            console.log("win")
                            this.isFinish = true
                            break;
                        }
                    }
                    //this.isRunning = false
                }

            }

            class OnlineGame extends Game{
                static gameId = null;
                static playerNo = null;
            }

            class Player{
                constructor(name, mark){
                    this.name = name;
                    this.mark = mark;
                    this.moves = [];
                }
                

                setName(name){
                    this.name = name;
                }
                setMark(mark){
                     this.mark = mark
                     console.log("this mark = " + this.mark)
                }
                getName(){
                    return name
                }
                getMark(){
                    
                    return mark
                }
            }

            play_online_btn.onclick = () => {
                loadContent(tem_form_for_online)

                let select_mark = document.getElementById("select-mark");
                let find_player = document.getElementById("find-player")
                let isAnyPlayer = null;
                let start_btn   = document.getElementById("start-btn");

                itSelf = new Player("{{user}}", "")
                
                select_mark.onchange = () => {
                    console.log(select_mark.value)
                }

                start_btn.onclick = async () =>{
                    const ready = await fetch("/iAmReady/" + OnlineGame.gameId + "/" + OnlineGame.playerNo)
                    console.log(ready)
                }
                find_player.onclick = async () => {
                    itSelf.mark = select_mark.value
                    const data = await fetch("/letsPlay?user={{user}}&mark=" + select_mark.value);
                    const response = await data.json();

                    OnlineGame.gameId = response["gameId"]
                    OnlineGame.playerNo = response["playerNo"]

                    if( OnlineGame.playerNo === "1"){
                        OnlineGame.player1 = itSelf;
                    }else{
                        OnlineGame.player2 = itSelf;
                    }

                    isAnyPlayer = new EventSource("/isAnyPlayer/" + OnlineGame.gameId);
                    isAnyPlayer.onopen = () => {
                        document.getElementById("player-2").innerHTML += "."
                    }
                    isAnyPlayer.addEventListener("getPlayer", (ev) => {
                        console.log("player matched")
                        console.log(ev.data)
                        //document.getElementById("player-2").innerHTML == 
                        const players = JSON.parse(ev.data.replace(/'/g,'"').replace(/False/g,'false').replace(/True/g,'true'))
                        console.log(players)

                        if(OnlineGame.playerNo == 1){
                            OnlineGame.player2 = new Player(players["player2"][ "name" ], players["player2"]["mark"])
                        }else{
                            OnlineGame.player1 = new Player(players["player1"][ "name" ], players["player1"]["mark"])
                        }
                        console.log(OnlineGame.player1)
                        console.log(OnlineGame.player2)
                        //isAnyPlayer.close()
                    });

                    isAnyPlayer.addEventListener("readySteadyGo", () => {
                        console.log("ready steady go")
                        loadContent(tem_game)
                        isAnyPlayer.close()
                    })

                    console.log(OnlineGame.player1);
                    console.log(OnlineGame.player2)
                    content.removeChild(select_mark)
                    select_mark.removeEventListener("click", () => {
                        console.log(select_mark.value)
                    }, true)
                }
                
            }

            play_offline_btn.onclick = () => {
                Game.player1 = new Player("{{user}}" ,"");
                Game.player2 = new Player("","");
                console.log(Game.player1.getName())
                loadContent( tem_form_for_ffline )

                let player1_name = document.getElementById("player1-name");
                let player2_name = document.getElementById("player2-name");
                let player1_mark = document.getElementById("player1-mark");
                let player2_mark = document.getElementById("player2-mark");
                let start_btn    = document.getElementById("start-btn");

                player1_name.onchange = () =>{
                    console.log(player1_name.value);

                    Game.player1.setName(player1_name.value);
                }
                player1_mark.onchange = () =>{
                    console.log(player1_mark.value);

                    Game.player1.setMark(player1_mark.value);
                }
                player2_name.onchange = () =>{
                    console.log(player2_name.value);

                    Game.player2.setName(player2_name.value);
                }
                player2_mark.onchange = () =>{
                    console.log(player2_mark.value);

                    Game.player2.setMark(player2_mark.value);
                }

                start_btn.onclick = () => {
                    console.log("start")
                    console.log(Game.player1.name)
                    if(Game.player1.name != "" && Game.player2.name != "" && Game.player1.mark != "" && Game.player2.mark != ""){
                        player1_mark.removeEventListener("change", () =>{
                            console.log(player1_mark.value);
                            console.log(player1_mark)
                            Game.player1.setMark(player1_mark.value);
                        }, true);

                        player1_name.removeEventListener("change", () =>{
                            console.log(player1_name.value);
                            console.log(player1_name)
                            Game.player1.setName(player1_name.value);
                        }, true);
                        player2_mark.removeEventListener("change", () =>{
                            console.log(player2_mark.value);
                            console.log(player2_mark)
                            Game.player2.setMark(player2_mark.value);
                        }, true);
                        player2_name.removeEventListener("change", () =>{
                            console.log(player2_mark.value);
                            console.log(player2_mark)
                            Game.player2.setMark(player2_mark.value);
                        }, true);
                        loadContent(tem_game);
                        Game.start()
                    }
                }
            }

            function loadContent( con ){
                return  new Promise((resolve)=>{
                    content.innerHTML = con.innerHTML
                    
                })
            }

            

        </script>
    </body>
</html>